html{
    height: 100%;
    
}
body{
    
    position: relative;
    margin: 0;
    background-color: rgb(248, 248, 248);
    font-family: cursive;
    font-weight: 500;
    font-size: medium;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 145, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 1px solid black;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
  }

.dobrodoslica{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.burger_prez{
    width: 500px;
    height: 600px;
}
.tekst{
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    top: 170px;
    text-align: justify;
    background-color: rgb(251, 177, 40, .7);
    font-family: cursive;
    font-weight: 500;
    font-size: large;
}
.burger_naslov{
    position: relative;
    text-align: left;
    top: 150px;
    text-decoration: underline solid rgb(251, 177, 40);
    font-family: cursive;
}
.burger_naslov2{
    position: relative;
    text-align: right;
    text-decoration: underline solid rgb(251, 177, 40);
    font-family: cursive;
}
.tekst2{
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: justify;
    top: 25px;
    background-color: rgb(251, 177, 40, .7);
    font-family: cursive;
    font-weight: 500;
    font-size: large;
}
.card{
    box-shadow: 3px 3px 10px black;
    font-family: cursive;
    font-weight: 500;
    font-size: large;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.card:hover{
    transform: scale(1.1);
}

.pasta{
    margin-bottom: 100px;
    
}
.btn-primary{
    border-radius: 60px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
}
.btn-primary:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}
.preliv{
    position: relative;
    width: 800px;
    height: 200px;
    top: -120px;

}

.carousel{
    position: sticky;
}
.card {
    width: 18rem; 
}

.text{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    top: 195px;
    
}
.headingprod{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline solid rgb(251, 177, 40);
}
.caros{
    background-color: rgb(251, 177, 40);
    height: 820px;
    width: 100%;
    
}

.carousel{
    position: relative;
    top: 200px;
}
.blankdiv{
    position: relative;
    top: -200px;
    height: 69px;
    
}

.info{
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
    left: 12px;
    border: 3px solid rgb(251, 177, 40);
    background-color: rgb(111, 110, 110);
    
}
.pic{
    position: relative;
    width: 100%;
    height: 400px;
    top: 50px;
    left: -12px;   
    box-sizing: border-box;
    outline: 3px solid rgb(251, 177, 40); /* Outline properties */
    outline-offset: -30px; /* Adjust this to create space between the content and outline */
  
}
.infohead{
    position: relative;
    top: 30px;
    color: white;
}
.descr{
    position: relative;
    top: 50px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}
.location{
    position: relative;
    top: 60px;
    color: white;
}
.loc{
    position: relative;
    top: 90px;
    color: white;
    text-align: left;
    margin-left: 30px;
}
.pho{
    position: relative;
    top: 70px;
    color: white;
    text-align: left;
    margin-left: 30px;
}
.line{
    position: relative;
    color: white;
    top: 75px;
    margin-left: 30px;
    margin-right: 30px;
}
.loc2{
    position: relative;
    top: 90px;
    color: white;
    text-align: left;
    margin-left: 30px;
}
.pho2{
    position: relative;
    top: 70px;
    color: white;
    text-align: left;
    margin-left: 30px;
}
@media only screen and (max-width: 1400px){
 
    .caros{
        height: 710px;
    }
    .preliv{
        width: 700px;
        height: 150px;
        top: -120px;
    }
    #carouselExampleCaptions{
        top: 140px;
    }
    .text{
        top: 150px;
    }
    
}
@media only screen and (max-width: 1199px){
    .burger_prez2{
       
        top: 50px;
        width: 380px;
        height: 350px;
    }
   
}
@media only screen and (max-width: 1024px){
    .info{
        left: 12px;
        height: 650px;
    }
    .pic{
        left: -12px;
        top: 125px;
    }
}
@media only screen and (max-width: 991px){
   
    .burger_prez {
        position: relative;
        top: 120px;
        width: 350px;
        height: 400px;
        
    }
    .burger_prez2{
        position: relative;
        top: 50px;
        width: 350px;
        height: 300px;
    }
    .text{
        position: relative;
        top: 20px;
    }
    #carouselExampleCaptions{
        top: 190px;
    }
    .burger{
        position: relative;
        top: -120px;
    }
   .pasta{
    position: relative;
    top: 60px;
    
   }
   .info{
    left: 12px;
    height: 650px;
}
.pic{
    left: -12px;
    top: 125px;
}
   
}
@media only screen and (max-width: 767px){ 
    .card {
        width: 16rem; 
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .burger_naslov{
        top: -60px;
    }
    .tekst{
        top: -60px; 

    }
.burger_prez {
    width: 250px;
    height: 300px;
    top: 0px;
}
.burger_prez2{
    width: 250px;
    height: 200px;
    top: 30px;

}
.preliv{
    width: 300px;
    height: 80px;
    top: -80px;    
}
.text{
    top: -60px;
    background-color: rgb(251, 177, 40, .7);
}
#carimg{
    width: 300px;
    height: 300px;
}
#carouselExampleCaptions{
    top: 170px;
   
}
.burger{
    top: 0px;
}
.pasta{
    top: -40px;
}
.info{
    left: 0;
    height: 650px;
}
.pic{
    left: 0;
    top: -100px;
}
}

