body{
    background-color: rgb(248, 248, 248);
    font-family: cursive;
    font-weight: 500;
    font-size: medium;
  
}
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 145, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 1px solid black;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
  }

.dobrodoslica{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

.burger_prez{
    width: 500px;
    height: 600px;
}
.tekst{
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    top: 170px;
    text-align: justify;
    background-color: rgb(251, 177, 40, .7);
    font-family: cursive;
    font-weight: 500;
    font-size: large;
}
.burger_naslov{
    position: relative;
    text-align: left;
    top: 150px;
    text-decoration: underline solid rgb(251, 177, 40);
    font-family: cursive;
}
.burger_naslov2{
    position: relative;
    text-align: right;
    text-decoration: underline solid rgb(251, 177, 40);
    font-family: cursive;
}
.tekst2{
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    text-align: justify;
    top: 25px;
    background-color: rgb(251, 177, 40, .7);
    font-family: cursive;
    font-weight: 500;
    font-size: large;
}
.card{
    box-shadow: 3px 3px 10px black;
    font-family: cursive;
    font-weight: 500;
    font-size: large;
}
.card:hover{
    transform: scale(1.1);
}

.pasta{
    margin-bottom: 100px;
}
.btn-primary{
    border-radius: 60px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
}
.btn-primary:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}
.preliv{
    position: relative;
    width: 800px;
    height: 200px;
    top: -120px;

}

.carousel{
    position: sticky;
}
.card {
    width: 18rem; 
}

.text{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    top: 195px;
    
}
.headingprod{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline solid rgb(251, 177, 40);
}
.caros{
    background-color: rgb(251, 177, 40);
    height: 820px;
    width: 100%;
    
}

.carousel{
    position: relative;
    top: 200px;
}
.blankdiv{
    position: relative;
    top: -200px;
    height: 69px;
    
}
@media only screen and (max-width: 1400px){
    .card {
        width: 15rem; 
    }
    .caros{
        height: 710px;
    }
    .preliv{
        width: 700px;
        height: 150px;
        top: -120px;
    }
    #carouselExampleCaptions{
        top: 140px;
    }
    .text{
        top: 150px;
    }
}
@media only screen and (max-width: 1199px){
    .card {
        width: 13rem; 
    }
}
@media only screen and (max-width: 991px){
    .card {
        width: 9rem; 
    }
    .burger_prez {
        position: relative;
        top: 120px;
        width: 350px;
        height: 400px;
        
    }
    .burger_prez2{
        position: relative;
        top: 50px;
        width: 350px;
        height: 300px;
    }
    .text{
        position: relative;
        top: 20px;
    }
    #carouselExampleCaptions{
        top: 190px;
    }
    .text{
        top: 20px;
    }
   
}
@media only screen and (max-width: 768px){ 
    .card {
        width: 16rem; 
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .burger_naslov{
        top: -60px;
    }
    .tekst{
        top: -60px; 

    }
.burger_prez {
    width: 250px;
    height: 300px;
    top: 0px;
}
.burger_prez2{
    width: 250px;
    height: 200px;
    top: 0px;

}
.preliv{
    width: 300px;
    height: 80px;
    top: -80px;    
}
.text{
    top: -60px;
    background-color: rgb(251, 177, 40, .7);
}
#carimg{
    width: 300px;
    height: 300px;
}
#carouselExampleCaptions{
    top: 170px;
   
}
}