
.naslov_forme{
    position: relative;
    text-align: center;
    top: 120px;
    
}
input{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        margin: 0 auto;
        padding: 7px;
        top: 50px;
    }
.dugme{
    position: relative;
    width: 415px;
    border-radius: 60px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
    font-weight: bold;
    color: white;
}
.dugme:hover{
    opacity: .8 ;
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
    font-weight: bold;
}
.coverimg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }
footer{
    position: relative;
    top: 259px;
}
.forma1{
   position: relative;
    width: 450px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237, 237, 237);
    border: 3px solid rgba(255, 106, 0, 0.865);
    display: inline-block;
    box-shadow: 3px 3px 10px black;
    top: 90px;
    left: 350px;
    

}
.naruceno{
    position: relative;
    width: 450px;
    height: 450px;
    left: 850px;
    bottom: 568px;
    top: -460px;

}
.countbackg{
    background-color: rgb(251, 177, 40, .82);
}
.kolicina{
    position: relative;
    left: -1px;
}
tr{
    background-color: white;
}
.navbar-navvv{
    position: absolute;
    right: 500px;
    color: black;
    font-size: 18px;
}
.fa-brands{
    position: relative;
    top: 32%;
}
.drumrezee{
    position: relative;
    top:201px;
    right: -180px;
    
}
.logout{
    width: 110px;
    height: 30px;
}
.ukloni{
    font-weight: bold;
    background-color: rgba(255, 106, 0, 0.865);
    border:2px solid rgba(255, 106, 0, 0.865);
}
.ukloni:hover{
    background-color: white;
    border:2px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}
.broj{
    width: 55px;
}
.kupacinfo{
    position: relative;
    width: 405px;
    top: 60px;
}
.emailtel{
    width: 201px ;
}


@media only screen and (max-width: 1400px){
  .forma1{
    width: 850px;
    height: 450px;
    left: 250px;
  }
  .naruceno{
    width: 350px;
    height: 350px;
    top: -340px;
  }
  input{
    padding: 2px;
  }
  .dugme{
    bottom: 20px;
  }
  .drumrezee{
    top:183px;
    right: -20px;
    
}
}
@media only screen and (max-width: 991px){
    .logout{display: none;}

}
@media only screen and (max-width: 768px){
    .logout{display: none;}

.forma1{
    width: 100%; /* Adjust width as needed */
    height: auto;
    margin: 50px auto; /* Center the form vertically and horizontally */
    top: 0px; /* Reset top position */
    left: 0; /* Reset left position */
    position: relative; /* Reset position to default */
    background-color: rgb(237, 237, 237, .0);
    border: none;
    box-shadow: none;
    


}
input{
    border-radius: 15px;
    border: 2px solid rgba(255, 106, 0, 0.865);
    max-width: 300px;

}

    form#narucilac {
            margin: 0 auto; /* This centers the form horizontally */
            width: 90%; /* Adjust width as needed */
            max-width: 400px; /* Adjust max-width as needed */
          
    }
    
    .naruceno{
        position: relative;
        left: 1%;
        top: 30px;
        max-width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .naslov_forme{
        top: 120px;
    }
    .dugme{
        top: 40px;
    }
}
