.forma{
    position: relative;
    width: 500px;
    height: 400px;
    margin-top: 195px;
    margin-bottom: auto;
    margin-left: 200px;
    margin-right: auto;
    background-color: rgb(237, 237, 237);
    border: 3px solid rgba(255, 106, 0, 0.865);
    display: inline-block;
    box-shadow: 3px 3px 10px black;
}
.naslov_forme{
    position: relative;
    text-align: center;
    top: 35px;
}
input{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 7px;
}
.dugme{
    position: relative;
    background-color: rgba(255, 106, 0, 0.865);
    width: 415px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
    font-weight: bold;
    color: white;
    border-radius: 60px;
}
.dugme:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}
.dugme:hover{
    opacity: .8 ;
}
.coverimg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
footer{
    position: relative;
    top: 330px;
}
#alerttekst{
    text-align: center;
 }
 .unos{
    position: relative;
    top: 40px;
    width: 405px;

 }
 .noaccount{
    position: relative;
    bottom: -135px;
    right: -230px;
 }
 .adminn{
    position: relative;
    bottom: -135px;
    right: -260px;
 }

 @media only screen and (max-width: 1400px){
    .forma{
        width: 400px;
        height: 400px;
        margin-left: 180px;

    }
    .dugme{
        width: 310px;
        top: 0px;
    }
      .unos{
        width: 310px; 
        top: 30px;
        
    }
  
 }

 @media only screen and (min-width: 1819px){
    .forma{
      top: 100px;
      left: 150px;
    }
    


 }
 @media only screen and (max-width: 768px){
    .forma{
        width: 100%; /* Adjust the width as needed */
       top: 190px;
        margin: 0 auto; /* Center horizontally */
        padding: 0; /* Optional padding for spacing */
        background-color: rgba(237, 237, 237, .0);
        border: none;
        box-shadow: none;

    }
   
   
  input{
    border-radius: 15px;
  border: 2px solid rgba(255, 106, 0, 0.865);
  max-width: 300px;
  }





 }

