/*-----------------------------------------

    Cover Image

/*----------------------------------------*/
.coverimg{
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
}
/*-----------------------------------------

    Form CSS - Form, Heading, Input, Button

/*----------------------------------------*/
.form{
    position: relative;
    width: 500px;
    height: 400px;
    margin-top: 195px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237, 237, 237);
    border: 3px solid rgba(255, 106, 0, 0.865);
    display: inline-block;
    box-shadow: 3px 3px 10px black;  
}
.heading{
    position: relative;
    text-align: center;
    top: 35px;
    text-decoration: underline solid rgb(251, 177, 40);
    font-family: cursive;
}
input{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 7px;
    border: 1px solid rgba(255, 106, 0, 0.865);
}
.enter{
    position: relative;
    top: 40px;
    width: 405px;
 }
.button{
    position: relative;
    background-color: rgba(255, 106, 0, 0.865);
    width: 415px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
    font-weight: bold;
    color: white;
    border-radius: 60px;
}
.button:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
    opacity: .8 ; 
    transition: 0.5s;
}

/*-----------------------------------------

    Footer

/*----------------------------------------*/
footer{
    position: relative;
    top: 330px;
}
 @media only screen and (max-width: 1400px){
    .form{
        width: 400px;
        height: 400px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .enter{
        width: 310px;
        top: 30px;
    }
      .button{
        width: 310px; 
        top: 30px;
        
    }
 }

 @media only screen and (min-width: 1819px){
    .form{
      margin-left: auto;
      margin-right: auto;
    }
 }
 @media only screen and (max-width: 768px){
    .form{
        width: 100%; /* Adjust the width as needed */
        top: 190px;
        margin: 0 auto; /* Center horizontally */
        padding: 0; /* Optional padding for spacing */
        background-color: rgba(237, 237, 237, .0);
        border: none;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
    }
   
  input{
        border-radius: 15px;
        border: 2px solid rgba(255, 106, 0, 0.865);
        max-width: 300px;
  }
 }
 @media only screen and (max-width: 991px){
    .form{
        margin-left: auto;
        margin-right: auto;
    }
 }