.apsclass{
    margin-top: 100px;
}
.menii{
    position: relative;
    top: 50px;
    background-color: rgb(227, 227, 227);
    height: 350px;
    box-shadow: 5px 5px 10px black;
    transition: transform 1.5s;
}
.menii:hover{
    transform: scale(1.1);
}
.naslovv{
    position: relative;
    width: 300px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    top: 110%; 
    font-size: 22px;
    color: black;
    
    display: flex;
    margin-bottom: 0;
    justify-content: center; /* Horizontal centering */
    align-items: center;
  background-color: rgb(251, 177, 40, .6);
  

}

.slikaa{
    position: absolute; /* Position the image absolutely within .menii */
    top: 0;
    left: 0;
    width: 100%; /* Cover the full width */
    height: 100%; /* Cover the full height */
    object-fit: cover;
    
}


  footer{
    margin-top: 100px;
}  
.navbar-navvv{
    position: absolute;
    right: 500px;
    color: black;
    font-size: 18px;
}
.navbar-navvvv{
    right: 610px;
}


@media only screen and (max-width: 1400px){
 
    .caros{
        height: 710px;
    }
    .preliv{
        width: 700px;
        height: 150px;
        top: -120px;
    }
    #carouselExampleCaptions{
        top: 140px;
    }
    .text{
        top: 150px;
    }
}
@media only screen and (max-width: 1199px){
    .burger_prez2{
       
        top: 50px;
        width: 380px;
        height: 350px;
    }
   
}
@media only screen and (max-width: 991px){
   
    .burger_prez {
        position: relative;
        top: 120px;
        width: 350px;
        height: 400px;
        
    }
    .burger_prez2{
        position: relative;
        top: 50px;
        width: 350px;
        height: 300px;
    }
    .text{
        position: relative;
        top: 20px;
    }
    #carouselExampleCaptions{
        top: 190px;
    }
    .burger{
        position: relative;
        top: -120px;
    }
   .pasta{
    position: relative;
    top: 60px;
    
   }
   
}
@media only screen and (max-width: 768px){ 
    .card {
        width: 16rem; 
        margin-bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .burger_naslov{
        top: -60px;
    }
    .tekst{
        top: -60px; 

    }
.burger_prez {
    width: 250px;
    height: 300px;
    top: 0px;
}
.burger_prez2{
    width: 250px;
    height: 200px;
    top: 30px;

}
.preliv{
    width: 300px;
    height: 80px;
    top: -80px;    
}
.text{
    top: -60px;
    background-color: rgb(251, 177, 40, .7);
}
#carimg{
    width: 300px;
    height: 300px;
}
#carouselExampleCaptions{
    top: 170px;
   
}
.burger{
    top: 0px;
}
.pasta{
    top: -40px;
}
}

@media only screen and (max-width: 991px){
    .korpa, .logout, .navbar-navvvv,.navbar-navvvvv, .vreme
    {
            display: none;
    }
}
@media only screen and (max-width: 678px){
    .korpa, .logout, .navbar-navvvv,.navbar-navvvvv, .vreme, .predjelo,.slikaaa,.slikaaaa,.slikaaaaa{display: none;}
   .slikaa{
    position: absolute; /* Position the image absolutely within .menii */
    top: 0;
    left: 0;
    width: 100%; /* Cover the full width */
    height: 100%; /* Cover the full height */
    object-fit: cover;
   }
   .slikaa:hover{
    position: absolute; /* Position the image absolutely within .menii */
    top: 0;
    left: 0;
    width: 100%; /* Cover the full width */
    height: 100%; /* Cover the full height */
    object-fit: cover;
   }
}