.forma{
    position: relative;
    width: 500px;
    height: 700px;
    margin-top: 150px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237, 237, 237);
    border: 3px solid rgba(255, 106, 0, 0.865);
    box-shadow: 3px 3px 10px black;
}
.naslov_forme{
    position: relative;
    text-align: center;
    top: 13px;
}
input{
    display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
            padding: 7px;
}

.dugme{
    position: relative;
    width: 415px;
    border-radius: 60px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
    font-weight: bold;
    color: white;
}
.dugme:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}

.dugme:hover{
    opacity: .8 ;
}
.coverimg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }
footer{
    position: relative;
    top: 130px;
    height: 100%;
    height: 300px;
    
}
#alerttekst{
   text-align: center;
}
.unos{
    width: 405px;
}
.unoss{
    width: 405px;
}



@media only screen and (max-width: 1400px){
    .forma{
        width: 500px; 
        height: auto; 
    }
    input{
      max-width: 500px;
      }
      .dugme{
        width: 305px;
        bottom: 60px;
    }
}
@media only screen and (max-width: 768px){
    .forma{
        width: 100%; 
        height: auto; 
        background-color: rgb(237, 237, 237, .0);
        border: none;
        box-shadow: none;


    }
   
  input{
    border-radius: 15px;
    border: 2px solid rgba(255, 106, 0, 0.865);
    max-width: 300px;
  }

 
    }
