.forma{
    position: relative;
    width: 500px;
    height: 700px;
    margin-top: 150px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(237, 237, 237);
    border: 3px solid rgba(255, 106, 0, 0.865);
    box-shadow: 3px 3px 10px black;
}
.naslov_forme{
    position: relative;
    text-align: center;
    top: 13px;
}
input{
    position: relative;
    padding: 7px;
    left: 41px;
    
}
.dugme{
    position: relative;
    width: 415px;
    border-radius: 60px;
    background-color: rgba(255, 106, 0, 0.865);
    border:3px solid rgba(255, 106, 0, 0.865);
    font-weight: bold;
    color: white;
}
.dugme:hover{
    background-color: white;
    border:3px solid rgba(255, 106, 0, 0.865);
    color: rgba(255, 106, 0, 0.865);
}

.dugme:hover{
    opacity: .8 ;
}
img{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
footer{
    position: relative;
    top: 130px;
    height: 100%;
    height: 300px;
    
}
#alerttekst{
   text-align: center;
}
.unos{
    width: 201px;
}
.unoss{
    width: 405px;
}



@media only screen and (max-width: 1400px){
   .forma{
    width: 400px;
    height: 600px;
   }
   .unos{
    width: 150px;
}
.unoss{
    width: 305px;
}
.dugme{
    width: 305px;
    bottom: 60px;
}

}